<div id="floating-panel">
  <b>Start: </b>
  <select id="start" onchange="calcRoute();">
    <option value=""></option>
    <option value="127 Annette St. Toronto, On">Home</option>
  </select>
  <b>End: </b>
  <select id="end" onchange="calcRoute();">
    <option value="Evergreen Brickworks Toronto, On">Works</option>
  </select>
</div>
<div id="map"></div>
